.target-indicator-progress {
  margin-bottom: 5px;
  display: flex;
  align-items: center;

  .target-indicator-progress__description {
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: grey;
  }
}
