/*Обнуление и общие стили*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

&:before, &:after {
             -moz-box-sizing: border-box;
             -webkit-box-sizing: border-box;
             box-sizing: border-box;
           }
}

:focus,:active {outline: none;}

nav,footer,header,aside {display: block;}

html,body{
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 100%;
  color: black;
}

a {
  text-decoration: none;

&:visited, &:hover {
              text-decoration: none;
            }

&:focus, &:active{
            outline: none;
          }
}

input,button,textarea {
  font-size: inherit;
  font-family:inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow:0 0 0 30px #ffffff inset !important;
}

input::-ms-clear {display: none;}

button {
  cursor: pointer;
  line-height: inherit;
}
button::-moz-focus-inner {padding:0;border:0;}

ul {
  li {
    list-style: none;
  }
}

img {vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size:inherit;font-weight: 400;}
